<html>
<head>
  <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="materialize.css" media="screen,projection">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="..\static\styles\style3.css"> 
</head>

<body>
  <h1>Delivery Prediction</h1>
  <h4>Please Enter the below values</h4>

  <div class="row">
    <form action= "/" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <label for="customer_rating">Customer Rating:</label>
          <input name="customer_rating" id="customer_rating" type="text" pattern="[\d]+" class="validate">

        </div>

        <div class="input-field col s6">
          <label for="prior_purchases">Prior Purchases:</label>
          <input name="prior_purchases" id="prior_purchases" type="text" pattern="[\d]+" class="validate">

        </div>

        <div class="input-field col s6">
          <label for="product_importance">Product Importance</label>
          <input name="product_importance"  id="product_importance" type="text" pattern="[\d]+" class="validate">

        </div>


        <div class="input-field col s6">
          <label for="weight_in_gms">Weight(in gms):</label>
          <input name="weight_in_gms" id="weight_in_gms" type="text" pattern="[\d]+" step="any" class="validate">

        </div>


        <div class="input-field col s6">
          <label for="discount">Discount(%):</label>
          <input name="discount" id="discount" type="number" pattern="[\d]+" step="any" class="validate">

        </div>


        <div class="input-field col s6">
          <label for="customer_care_calls">Customer Care Calls:</label>
          <input name="customer_care_calls"  id="customer_care_calls" type="text" pattern="[\d]+" class="validate">

        </div>


        <div class="input-field col s6">
          <label for="cost_of_product">Cost of Product:</label>
          <input name="cost_of_product" id="cost_of_product" type="text" pattern="[\d]+" step="any" class="validate">

        </div>

      </div> 

   <div class= 'cont1'> 
    <div class="input-field col s12">
      <label>Choose a warehouse block:</label>
          <select name="warehouse" id="warehouse" class='browser-default'>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">A</option>
          <option value="2">B</option>
          <option value="3">C</option>
          <option value="4">D</option>
          <option value="5">F</option>
        </select><br>
        
    </div>

    <div class="input-field col s12">
     <label for="shipment">Choose Mode of Shipment:</label>
     <select name="shipment" id="shipment" class='browser-default'>
       <option value="" disabled selected>Choose your option</option>
        <option value="1">Flight</option>
        <option value="2">Road</option>
        <option value="3">Ship</option>
      </select>
    </div>

  </div>
  <div class='cont2'>
    <div class="input-field col s12">
              <label for="gender"><span>Gender:</span></label><br>
              <p>
                <label>
                  <input name="gender" type="radio" class="with-gap" checked value="1" />
                  <span>Male</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="gender" type="radio" class="with-gap" value="0" />
                  <span>Female</span>
                </label>
              </p>
            </div> 

  </div> 
<br><br>
      <button class="btn waves-effect waves-light input-field" type="submit">Submit<i class="material-icons right">send</i></button> 
    </form>
    <h3>
      {{ pred }} with a probability of {{ prob }} %
    </h3>
    
